:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    top: 70px;
    position: relative;
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
   
}

.heading span{
    color:var(--pink);
}

.btn{
    position: relative;
    left: 420px;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}



.kotak1:hover{
    border-color:var(--pink);
}

.kotak2:hover{
    border-color:var(--pink);
}



.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    height: 700px;
    top: 50px;
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.panah{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.kanan{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.kiri{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.kotak1{
    position: relative;
    left: 410px;
    top: 0px;
    display: inline-block;
    margin-top: 1rem;
    border-radius: .6rem;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background:white;
    color:#fff;
    padding: 1.1rem 1.6rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.kotak2{
    position: relative;
    left: 430px;
    top: 0px;
    display: inline-block;
    margin-top: 1rem;
    border-radius: .6rem;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background:white;
    color:#fff;
    padding: 1.1rem 1.6rem;
    cursor: pointer;
    font-size: 1.5rem;
    
}


.review .box-container .box .stars i{
    position: relative;
    top: 475px;
    left: 10px;
    right: 0px;
    color:var(--pink);
    font-size: 15px;
    
}


.review .box-container .box .txt{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 200px;
    font-size: 2rem;
}

.txt2:hover{
    color:var(--pink); 
}

.review .comment a{
    position: absolute;
    left: 20x;
    top: 570px;
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

.review .comment a:hover{
    color:var(--pink);
}

.review .comment .teks{
    position: absolute;
    left: 52px;
    top: 549px;
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

.comment:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

.review .box-container .box .txt2{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 150px;
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{ 
    height:10rem;
    width:10rem;
    top: 10px;
    left: 130px;
    bottom: 0px;
    right: 0px;  
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    position: absolute;
    left: 30px;
    top: 470px;
    font-size: 2rem;
    color:#333;
}

.review .garis{
    width: 90%;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.144);
    border-style: solid;
    position: absolute;
    left: 20px;
    top: 550px;
}

